# Assignment 6

# Task-1

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf
from itertools import combinations

In [7]:
num_assets = int(input("Enter number of available assets: "))
tickers = []
for i in range(num_assets):
    tickers.append(input(f"Enter ticker of stock {i+1}: "))    
start = input("Enter start date of historical data(YYYY-MM-DD): ")
end = input("Enter end date of historical data(YYYY-MM-DD): ")
num_portfolio = int(input("Enter number of assets you want in your portfolio: "))

Enter number of available assets:  5
Enter ticker of stock 1:  META
Enter ticker of stock 2:  NFLX
Enter ticker of stock 3:  AMZN
Enter ticker of stock 4:  TSLA
Enter ticker of stock 5:  NVDA
Enter start date of historical data(YYYY-MM-DD):  2023-01-01
Enter end date of historical data(YYYY-MM-DD):  2024-06-01
Enter number of assets you want in your portfolio:  3

In [8]:
data = yf.download(tickers, start='2020-01-01', end='2023-01-01')['Adj Close']

[*********************100%%**********************]  5 of 5 completed

In [9]:
data

Ticker           AMZN        META        NFLX       NVDA        TSLA
Date
2020-01-02  94.900497  209.349792  329.809998   5.973633   28.684000
2020-01-03  93.748497  208.242081  325.899994   5.878020   29.534000
2020-01-06  95.143997  212.164032  335.829987   5.902669   30.102667
2020-01-07  95.343002  212.623077  330.750000   5.974132   31.270666
2020-01-08  94.598503  214.778656  339.260010   5.985336   32.809334
...               ...         ...         ...        ...         ...
2022-12-23  85.250000  117.797935  294.959991  15.197295  123.150002
2022-12-27  83.040001  116.640312  284.170013  14.112917  109.099998
2022-12-28  81.820000  115.382896  276.880005  14.027965  112.709999
2022-12-29  84.180000  120.013382  291.119995  14.594640  121.820000
2022-12-30  84.000000  120.093208  294.880005  14.605634  123.180000

[756 rows x 5 columns]

In [10]:
returns = data.pct_change()
correlation_matrix = returns.corr()

In [11]:
correlation_matrix

Ticker      AMZN      META      NFLX      NVDA      TSLA
Ticker
AMZN    1.000000  0.619072  0.592819  0.663039  0.477203
META    0.619072  1.000000  0.551360  0.601932  0.369628
NFLX    0.592819  0.551360  1.000000  0.522988  0.408418
NVDA    0.663039  0.601932  0.522988  1.000000  0.548814
TSLA    0.477203  0.369628  0.408418  0.548814  1.000000

In [12]:
min_corr = 1
stocks = []
for subset in combinations(tickers,num_portfolio):
    max_corr=0
    for x in subset:
        for y in subset:
            if x==y: continue
            if max_corr<np.abs(correlation_matrix.loc[x,y]): max_corr = np.abs(correlation_matrix.loc[x,y])
    if min_corr>max_corr:
        stocks = subset
        min_corr = max_corr
    print(subset,max_corr)

('META', 'NFLX', 'AMZN') 0.6190723317446476
('META', 'NFLX', 'TSLA') 0.5513603025633611
('META', 'NFLX', 'NVDA') 0.6019322392708486
('META', 'AMZN', 'TSLA') 0.6190723317446476
('META', 'AMZN', 'NVDA') 0.6630385694434735
('META', 'TSLA', 'NVDA') 0.6019322392708486
('NFLX', 'AMZN', 'TSLA') 0.5928188039001671
('NFLX', 'AMZN', 'NVDA') 0.6630385694434735
('NFLX', 'TSLA', 'NVDA') 0.548814306167929
('AMZN', 'TSLA', 'NVDA') 0.6630385694434735

In [13]:
print(f"Stocks with minimum correlation : {stocks}")
print(f"Correlation = {min_corr}")

Stocks with minimum correlation : ('NFLX', 'TSLA', 'NVDA')
Correlation = 0.548814306167929

# Task-2

In [18]:
# data.to_csv('Assignment_6_data.csv',index=False)

In [19]:
data = pd.read_csv('Assignment_6_data.csv')

In [20]:
data

          AMZN        META        NFLX       NVDA        TSLA
0    94.900497  209.349792  329.809998   5.973633   28.684000
1    93.748497  208.242081  325.899994   5.878020   29.534000
2    95.143997  212.164032  335.829987   5.902669   30.102667
3    95.343002  212.623077  330.750000   5.974132   31.270666
4    94.598503  214.778656  339.260010   5.985336   32.809334
..         ...         ...         ...        ...         ...
751  85.250000  117.797935  294.959991  15.197295  123.150002
752  83.040001  116.640312  284.170013  14.112917  109.099998
753  81.820000  115.382896  276.880005  14.027965  112.709999
754  84.180000  120.013382  291.119995  14.594640  121.820000
755  84.000000  120.093208  294.880005  14.605634  123.180000

[756 rows x 5 columns]

In [37]:
returns = data.pct_change()
covariance_matrix = returns.cov()

In [38]:
covariance_matrix

          AMZN      META      NFLX      NVDA      TSLA
AMZN  0.000606  0.000468  0.000477  0.000576  0.000534
META  0.000468  0.000942  0.000553  0.000651  0.000516
NFLX  0.000477  0.000553  0.001067  0.000602  0.000607
NVDA  0.000576  0.000651  0.000602  0.001243  0.000880
TSLA  0.000534  0.000516  0.000607  0.000880  0.002068

In [24]:
w = []
for asset in data.columns:
    w.append(float(input(f"Enter weight of {asset}: ")))

Enter weight of AMZN:  0.1
Enter weight of META:  0.3
Enter weight of NFLX:  0.3
Enter weight of NVDA:  0.2
Enter weight of TSLA:  0.1

In [25]:
if sum(w)!=1:
    print("Sum of weights is not equal to 1.")
    print("Please enter the weights again.")

In [26]:
weights = np.array(w)

In [31]:
import scipy.stats as stats
def z_score(level_of_confidence):
    c = level_of_confidence
    z_score = stats.norm.ppf((1 + c) / 2)
    return z_score

In [32]:
one_sided_loc = 0.95
loc = 2 * one_sided_loc - 1
z = z_score(loc)

In [39]:
volatility = np.sqrt(np.dot(weights.T, np.dot(covariance_matrix, weights)))
VaR = z * volatility

In [42]:
print(f"Value at Risk of the portfolio for the given weights is {(VaR*100):.2f}% of the portfolio value.")

Value at Risk of the portfolio for the given weights is 4.35% of the portfolio value.